<div id="page" class="container">
  <div class="row">
    <div class="grid-6">
      <h1>Mapping hoods</h1>
      <div class="row">
        <% @hoods.each_with_index do |hood, index|  %>
          <div class="grid-2 space-bottom-small hood" data-hood-lat="<%= hood.lat %>" data-hood-lng="<%= hood.lng %>" data-hood-radius="<%= hood.radius %>">
            <h3 class="h2 space-bottom-small"><%= hood.name %></h3>

            <p class="space-bottom-small">
              <strong>
                <span class="text-tall <%= diff_color(hood.diff) %>">
                  <span class="rent-diff-arrow"><% if hood.diff.round > 0 %>▴<% elsif hood.diff.round < 0 %>▾<% end %></span>
                  <%= hood.diff.round.abs %>%
                </span>
              </strong>
              (<%= hood.num_rents %> rendas)
            </p>

            <%= gmaps(
                :markers => {
                  :data => hood.rents.includes(:postal_code).to_gmaps4rails,
                },
                :map_options => {
                  :id => 'map_' + index.to_s,
                  :container_class => 'rent-map',
                  :language => 'pt', :hl => 'pt', :region => 'pt',
                  :center_latitude => 40.20119879996395,
                  :center_longitude => -8.426894545555115,
                  :zoom => 13,
                  :raw => "{scrollwheel: false}"
                },
                :last_map => index == @hoods.size-1,
                :scripts => (index > 0 ? :none : :api)
            ) %>

          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
