<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hood.name %>
</p>

<p>
  <b>Lat:</b>
  <%= @hood.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @hood.lng %>
</p>

<p>
  <b>Radius:</b>
  <%= @hood.radius %>
</p>


<%= link_to 'Edit', edit_hood_path(@hood) %> |
<%= link_to 'Back', hoods_path %>
