<div id="home">

  <div class="page-header">
    <h1>Quanto pagas de renda?</h1>
  </div>

  <form action="submit" method="post">

    <% if @rent.errors.any? %>
      <div class="errors">
        <% for error in @rent.errors.values %>
          <p><%= error.first %></p>
        <% end %>
      </div>
    <% end %>

    <p>
      <input type="text" class="input-inline" placeholder="350" name="rent[price]" value="<%= @rent.price %>" maxlength="6" size="6" /> €
    </p>

    <p>
      <input type="text" class="input-inline" name="rent[postal_code][0]" placeholder="1234" value="<%= @rent.postal_code_array[0] %>" maxlength="4" size="4" />
      -
      <input type="text" class="input-inline" name="rent[postal_code][1]" placeholder="567" value="<%= @rent.postal_code_array[1] %>" maxlength="3" size="3" />
    </p>

    <p>
      Tipologia
      <select name="rent[typology]" class="input-inline">
        <% for typology in Rent::TYPOLOGIES %>
          <option <% if @rent.typology == typology %>selected="selected"<% end %>><%= typology %></option>
        <% end %>
      </select>
    </p>

    <p>
      <input type="submit" value="Enviar" class="btn btn-block btn-large btn-blue" />
    </p>

  </form>

  <hr>

  <script>
    (function () {
      "use strict";

      window.app = {};

      app.TYPOLOGIES = {
        QUARTO: "Quarto",
        T0: "T0",
        T1: "T1",
        T2: "T2",
        T3: "T3",
        T4P: "T4+",
      };

      app.rentsByTipology = {};
      app.rentsByTipology[app.TYPOLOGIES.QUARTO] = <%= Rent.median("Quarto") || "null" %>;
      app.rentsByTipology[app.TYPOLOGIES.T0] = <%= Rent.median("T0") || "null" %>;
      app.rentsByTipology[app.TYPOLOGIES.T1] = <%= Rent.median("T1") || "null" %>;
      app.rentsByTipology[app.TYPOLOGIES.T2] = <%= Rent.median("T2") || "null" %>;
      app.rentsByTipology[app.TYPOLOGIES.T3] = <%= Rent.median("T3") || "null" %>;
      app.rentsByTipology[app.TYPOLOGIES.T4P] = <%= Rent.median("T4+") || "null" %>;
    }());
  </script>

  <table class="table">
    <% for rent in @rents %>
      <tr>
        <td><%= "%i" % rent.price %>€</td>
        <td><%= rent.postal_code %></td>
        <td><%= rent.typology %></td>
        <td><%= rent.address %></td>
        <td><%= rent.county %></td>
        <td><%= rent.lat %>, <%= rent.lng %></td>
      </tr>
    <% end %>
  </table>

  <hr>

  <div id="typologyChart">
    <svg></svg>
  </div>

  <hr>

  <%= gmaps(
      :markers => {
        :data => @rents.to_gmaps4rails,
      },
      :map_options => {
        :container_class => 'map-container grid-6',
        :language => 'pt', :hl => 'pt', :region => 'pt',
        :center_latitude => 40.20119879996395,
        :center_longitude => -8.426894545555115,
        :zoom => 13
      }
  ) %>

</div>
