<% content_for :header_contents do %>
  <div id="new-rent" class="row">
    <div class="grid-6">

      <form action="<%= submit_path %>" method="post">

        <% if @rent.errors.any? %>
          <div class="errors grid-6">
            <% for error in @rent.errors.values %>
              <span><%= error.first %></span>
            <% end %>
          </div>
        <% end %>

        <div class="grid-two-thirds">
          <div class="field">
            <label for="rent[price]">Valor</label>
            <input type="text" class="input-inline" placeholder="350" name="rent[price]" value="<%= "%.2f" % @rent.price if @rent.price and @rent.price > 0 %>" maxlength="6" size="6" /> €
          </div>
          <div class="field">
            <label for="rent[postal_code]">Código Postal</label>
            <input type="text" class="input-inline" name="rent[postal_code][0]" placeholder="3000" value="<%= @rent.postal_code_array[0] %>" maxlength="4" size="4" />
            -
            <input type="text" class="input-inline" name="rent[postal_code][1]" placeholder="123" value="<%= @rent.postal_code_array[1] %>" maxlength="3" size="3" />
          </div>
          <div class="field">
            <label for="rent[typology]">Tipologia</label>
            <select name="rent[typology]" class="input-inline">
              <% for typology in Rent::TYPOLOGIES %>
                <option <% if @rent.typology == typology %>selected="selected"<% end %>><%= typology %></option>
              <% end %>
            </select>
          </div>
        </div>

        <div class="grid-third">
          <input type="submit" value="Enviar" class="btn btn-block btn-large btn-blue" />
        </div>

      </form>

    </div>
  </div>

<% end %>

<h2>As rendas de Coimbra</h2>

<%= gmaps(
    :markers => {
      :data => @rents.to_gmaps4rails,
    },
    :map_options => {
      :container_class => 'home-map',
      :language => 'pt', :hl => 'pt', :region => 'pt',
      :center_latitude => 40.20119879996395,
      :center_longitude => -8.426894545555115,
      :zoom => 13
    }
) %>
