<% content_for :header_contents do %>
  <div id="new-rent" class="row">
    <div class="grid-6">

      <form action="<%= submit_path %>" method="post">

        <% if @rent.errors.any? %>
          <div class="errors grid-6">
            <% for error in @rent.errors.values %>
              <span><%= error.first %></span>
            <% end %>
          </div>
        <% end %>

        <div class="grid-two-thirds">
          <div class="field">
            <label for="rent[price]">Valor</label>
            <input type="text" class="input-inline" placeholder="350" name="rent[price]" value="<%= "%.2f" % @rent.price if @rent.price and @rent.price > 0 %>" maxlength="6" size="6" /> €
          </div>
          <div class="field">
            <label for="rent[postal_code]">C. Postal</label>
            <input type="text" class="input-inline" name="rent[postal_code][0]" placeholder="3000" value="<%= @rent.postal_code_array[0] %>" maxlength="4" size="4" />
            -
            <input type="text" class="input-inline" name="rent[postal_code][1]" placeholder="123" value="<%= @rent.postal_code_array[1] %>" maxlength="3" size="3" />
            <small><a href="http://www.codigo-postal.pt" target="_blank">Não sabes o teu código postal?</a></small>
          </div>
          <div class="field">
            <label for="rent[typology]">Tipologia</label>
            <select name="rent[typology]" class="input-inline">
              <% for typology in Rent::TYPOLOGIES %>
                <option <% if @rent.typology == typology %>selected="selected"<% end %>><%= typology %></option>
              <% end %>
            </select>
          </div>
        </div>

        <div class="grid-third">
          <input type="submit" value="Compara" class="btn btn-block btn-large btn-blue" />
        </div>

      </form>

    </div>
  </div>

<% end %>

<div id="rents-section" class="section text-center">
  <div class="container">
    <div class="row">
      <div class="grid-6">
        <h2>As rendas de Coimbra</h2>
        <p>Vê no mapa as <%= @rents.size %> rendas de Coimbra que já foram submetidas.</p>
        <!--<div class="arrow-down"></div>-->
      </div>
    </div>
  </div>
</div>

<%= gmaps(
    :markers => {
      :data => @rents.to_gmaps4rails,
    },
    :map_options => {
      :container_class => 'home-map',
      :language => 'pt', :hl => 'pt', :region => 'pt',
      :center_latitude => 40.20119879996395,
      :center_longitude => -8.426894545555115,
      :zoom => 13,
      :raw => "{scrollwheel: false}",
    }
) %>

<div id="stats-section" class="section text-center">
  <div class="container">
    <div class="row">
      <div class="grid-6">
        <h2>Estatísticas</h2>
        <p>Estes são os valores médios (medianas) por tipologia, até agora:</p>
        <div class="row">
          <div class="grid-4 offset-1">
            <div id="typologyChart" class="space-top">
              <svg class="typologyChart"></svg>
            </div>
          </div>
        </div>
        <p></p>
        <p><%= link_to 'Exportar dados', export_rents_path(:format => 'csv'), :class => 'btn btn-large' %></p>
      </div>
    </div>
  </div>
</div>

<script>
  (function () {
    "use strict";

    window.app = {};

    app.TYPOLOGIES = {
      QUARTO: "Quarto",
      T0: "T0",
      T1: "T1",
      T2: "T2",
      T3: "T3",
      T4P: "T4+",
    };

    app.rentsByTipology = {};
    app.rentsByTipology[app.TYPOLOGIES.QUARTO] = <%= Rent.median("Quarto") || "null" %>;
    app.rentsByTipology[app.TYPOLOGIES.T0] = <%= Rent.median("T0") || "null" %>;
    app.rentsByTipology[app.TYPOLOGIES.T1] = <%= Rent.median("T1") || "null" %>;
    app.rentsByTipology[app.TYPOLOGIES.T2] = <%= Rent.median("T2") || "null" %>;
    app.rentsByTipology[app.TYPOLOGIES.T3] = <%= Rent.median("T3") || "null" %>;
    app.rentsByTipology[app.TYPOLOGIES.T4P] = <%= Rent.median("T4+") || "null" %>;

    app.PAGE = "STATS";
  }());
</script>
