<div class="container">
  <div class="row">
    <div class="grid-4 offset-1">

      <h2>Obrigado pela tua ajuda</h2>


      <hr/>

      <p>Podes confirmar se a localização que temos para o teu código postal está perto da correcta?</p>

      <div class="row">
        <div class="grid-third">
          <h4>Renda</h4>
          <p><%= @rent.price %>€ (<%= @rent.typology %>)</p>
          <h4>Morada</h4>
          <p><%= @rent.address %></p>
          <p><a href="mailto:info@improvecoimbra.org?subject=Rendas: Erro na localização&body=A localização do meu código postal está longe da correcta: http://rendas.improvecoimbra.org/result/<%= @rent.id %>" class="btn">Encontrei um erro</a></p>
        </div>
        <div class="grid-two-thirds">
          <%= gmaps(
            :markers => {
              :data => @rent.to_gmaps4rails,
            },
            :map_options => {
              :container_class => 'result-map',
              :language => 'pt', :hl => 'pt', :region => 'pt',
              :zoom => 13
            }
          ) %>
        </div>
      </div>

    </div>
  </div>
</div>
