<% content_for :title do %>Compara a tua renda<% end %>

<div id="page" class="container">
  <div class="row">
    <div class="grid-4 offset-1">

      <h2>Obrigado pela tua ajuda!</h2>

      <p>
        A tua renda actual está
        <% if @rent.price == @median %>
          <strong>igual</strong> ao
        <% else %>
          <strong>
            <% if @rent.price < @median - 50 %>
              abaixo
            <% elsif @rent.price > @median + 50 %>
              acima
            <% else %>
              perto
            <% end %>
          </strong> do
        <% end %>
        valor médio calculado até agora, com base nas <%= pluralize(Rent.where(:typology => @rent.typology).count, 'renda') %> que temos de <%= @rent.typology.pluralize %> em Coimbra.
      </p>

      <div id="rentMedianChart">
        <svg class="rentMedianChart"></svg>
      </div>

      <p><em>Podes confirmar se a localização que temos para o teu código postal está perto da correcta?</em></p>

      <div class="row">
        <div class="grid-third">
          <h4>Renda</h4>
          <p><%= "%.2f" % @rent.price %>€ (<%= @rent.typology %>)</p>
          <h4>Morada</h4>
          <p><%= @rent.address %></p>
          <p><a href="mailto:info@improvecoimbra.org?subject=Rendas: Erro na localização&body=A localização do meu código postal está longe da correcta: http://rendas.improvecoimbra.org/result/<%= @rent.id %>" class="btn">Encontrei um erro</a></p>
        </div>
        <div class="grid-two-thirds">
          <%= gmaps(
            :markers => {
              :data => @rent.to_gmaps4rails,
            },
            :map_options => {
              :container_class => 'result-map',
              :language => 'pt', :hl => 'pt', :region => 'pt',
              :auto_zoom => false,
              :zoom => 16,
              :raw => "{scrollwheel: false}",
            }
          ) %>
        </div>
      </div>

      <hr/>

      <h3>Partilha o "Quanto pagas de rendas em Coimbra?"</h3>

      <p>Ajuda-nos a melhorar os resultados. Partilha este site com os teus amigos que moram em Coimbra, para também eles compararem as suas rendas.</p>

      <%= render 'share' %>

    </div>
  </div>
</div>

<script>
  (function () {
    "use strict";

    window.app = {};

    app.TYPOLOGIES = {
      QUARTO: "Quarto",
      T0: "T0",
      T1: "T1",
      T2: "T2",
      T3: "T3",
      T4P: "T4+",
    };

    app.PAGE = "RESULT";

    app.rentPrice = <%= @rent.price %>;
    app.typologyMedian = <%= @median %>;
  }());
</script>
