<div class="container">
  <div class="row">
    <div class="grid-4 offset-1">

      <h2>Estatísticas</h2>

      <p>Já foram submetidas <strong><%= Rent.count %></strong> rendas em Coimbra pelos visitantes deste website.</p>

      <p>Estes são os valores médios (medianas) por tipologia, até agora:</p>

      <div id="typologyChart">
        <svg class="typologyChart"></svg>
      </div>

    </div>
  </div>
</div>

<script>
  (function () {
    "use strict";

    window.app = {};

    app.TYPOLOGIES = {
      QUARTO: "Quarto",
      T0: "T0",
      T1: "T1",
      T2: "T2",
      T3: "T3",
      T4P: "T4+",
    };

    app.rentsByTipology = {};
    app.rentsByTipology[app.TYPOLOGIES.QUARTO] = <%= Rent.median("Quarto") || "null" %>;
    app.rentsByTipology[app.TYPOLOGIES.T0] = <%= Rent.median("T0") || "null" %>;
    app.rentsByTipology[app.TYPOLOGIES.T1] = <%= Rent.median("T1") || "null" %>;
    app.rentsByTipology[app.TYPOLOGIES.T2] = <%= Rent.median("T2") || "null" %>;
    app.rentsByTipology[app.TYPOLOGIES.T3] = <%= Rent.median("T3") || "null" %>;
    app.rentsByTipology[app.TYPOLOGIES.T4P] = <%= Rent.median("T4+") || "null" %>;
  }());
</script>
