<% content_for :title do %>Zonas de Coimbra<% end %>

<div id="page" class="container space-bottom">
  <div class="row">
    <div class="grid-6">

      <h2 class="h1">Zonas de Coimbra</h2>

      <p class="space-bottom-small">
        Será que existem realmente zonas de Coimbra mais baratas ou mais caras? Vê abaixo os resultados que descobrimos
      </p>

      <p>
        <span class="text-small text-muted">Diferenças médias do valor da renda em relação à mediana da cidade, agrupadas por zonas, e ordenadas pelo número de rendas submetidas.</span>
      </p>

      <div class="row">
        <% @hoods.each_with_index do |hood, index|  %>
          <div class="grid-2 space-bottom-small">
            <h3 class="h2 space-bottom-small"><%= hood.name %></h3>

            <p class="space-bottom-small">
              <strong><span class="text-tall <%= diff_color(hood[:rents_diff]) %>"><%= '%0.2f' % hood[:rents_diff] %>%</span></strong>
              (<%= hood[:num_rents] %> rendas)
            </p>

            <%= gmaps(
                :markers => {
                  :data => hood[:rents].to_gmaps4rails,
                },
                :map_options => {
                  :id => 'map_' + index.to_s,
                  :container_class => 'rent-map',
                  :language => 'pt', :hl => 'pt', :region => 'pt',
                  :center_latitude => 40.20119879996395,
                  :center_longitude => -8.426894545555115,
                  :zoom => 13,
                  :raw => "{scrollwheel: false}"
                },
                :last_map => index == @hoods.size-1,
                :scripts => (index > 0 ? :none : :api)
            ) %>

          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div class="text-center space-top">
  <div class="container">
    <div class="row">
      <div class="grid-4 offset-1">
        <h2>Partilha o "Quanto pagas de rendas em Coimbra?"</h2>
        <p>Ajuda-nos a melhorar os resultados.<br/>Partilha este site com os teus amigos que moram em Coimbra.</p>
        <%= render 'share' %>
      </div>
    </div>
  </div>
</div>
