<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @postal_code.code %>
</p>

<p>
  <strong>Address:</strong>
  <%= @postal_code.address %>
</p>

<p>
  <strong>County:</strong>
  <%= @postal_code.county %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @postal_code.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @postal_code.lng %>
</p>


<%= link_to 'Edit', edit_postal_code_path(@postal_code) %> |
<%= link_to 'Find GEO', find_geo_postal_code_path(@postal_code), :method => :post %> |
<%= link_to 'Back', postal_codes_path %>

<%= gmaps(
  :markers => {
    :data => @postal_code.to_gmaps4rails,
  },
  :map_options => {
    :container_class => 'map-container grid-6',
    :language => 'pt', :hl => 'pt', :region => 'pt',
    :center_latitude => 40.20119879996395,
    :center_longitude => -8.426894545555115,
    :zoom => 13
  }
) %>
