<!DOCTYPE html>
<html>
<head>
  <title>Quanto pagas de renda em Coimbra?</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Signika+Negative:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header">
    <div id="header-title">
      <div class="container">
        <div class="row">
          <div class="grid-third">
            <h1>
              <a href="/">Quanto pagas de renda em Coimbra?</a>
            </h1>
          </div>
          <div class="grid-two-thirds">
            <div id="navigation">
              <%= link_to 'Home', '/' %>&nbsp;&nbsp;
              <%= link_to 'Sobre', about_path %>&nbsp;&nbsp;
              <%= link_to 'Estatísticas', stats_path %>&nbsp;&nbsp;
              <%= link_to 'Exportar', export_rents_path(:format => 'csv') %>&nbsp;&nbsp;
              <%= link_to 'Contacto', 'mailto:info@improvecoimbra.org' %>&nbsp;&nbsp;
              <%= link_to 'Made in Improve Coimbra', 'http://improvecoimbra.org' %>
            </div>
          </div>
        </div>
        <div class="arrow-down"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <%= yield :header_contents %>
      </div>
    </div>
  </div>

  <div id="contents">
    <%= yield %>
  </div>

  <%= javascript_include_tag "application" %>
  <%= yield :scripts %>
</body>
</html>
