<!DOCTYPE html>
<html>
<head>
  <title>Quanto pagas de renda em Coimbra?<% if content_for?(:title) %> - <%= yield :title %><% end %></title>
  <meta name="description" content="Compara quando pagas de renda em Coimbra e ajuda-nos a mapear os preços dos quartos e casas de Coimbra.">
  <meta name="keywords" content="coimbra,rendas,preço,casas,improve coimbra" />
  <meta name="robots" content="index,follow" />
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Signika+Negative:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <div id="header-title">
      <div class="container">
        <div class="row">
          <div class="grid-6">
            <h1>
              <a href="/">Quanto pagas de renda em Coimbra?</a>
            </h1>
          </div>
        </div>
        <!--<div class="arrow-down"></div>-->
      </div>
    </div>
    <div class="container">
      <div class="row">
        <%= yield :header_contents %>
      </div>
    </div>
  </div>

  <div id="contents">
    <%= yield %>
  </div>

  <div id="footer">
    <%= link_to 'Sobre', about_path %>&nbsp;&nbsp;
    <%= link_to 'Contacto', 'mailto:info@improvecoimbra.org' %>&nbsp;&nbsp;
    <%= link_to 'Made in Improve Coimbra', 'http://improvecoimbra.org', :target => '_blank' %>
  </div>

  <%= javascript_include_tag "application" %>
  <%= yield :scripts %>
</body>
</html>
