<!DOCTYPE html>
<html>
<head>
  <title>Rendas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="grid-6">

        <div class="page-header">
          <h1><a href="/">Quanto pagas de renda?</a></h1>
        </div>

        <p>
          <%= link_to 'Sobre', about_path %> |
          <%= link_to 'Exportar dados', export_rents_path(:format => 'csv') %> |
          <%= link_to 'Made in Improve Coimbra', 'http://improvecoimbra.org' %>
        </p>

        <%= yield %>

      </div>
    </div>
  </div>

  <%= javascript_include_tag "application" %>

  <%= yield :scripts %>
</body>
</html>
