<!DOCTYPE html>
<html>
<head>
  <title>Rendas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="grid-6">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= yield :scripts %>

</body>
</html>
